{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">{{ event.title }}</h1>
  <p>{{ event.date.strftime('%A, %B %-d %Y')}}
  <hr class="my-4">
  {% for line in overview %}
    <p>{{ line }}</p>
  {% endfor %}
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <a class="btn btn-primary btn-lg" href={{ event.link }} target="_blank" role="button">Learn more</a>
</div>

<h3 class="border-bottom border-gray pb-2 mb-0" align="center">Similar Events:</h3>
{% if events.__len__() <= 1 %}
  <em>None found :(</em>
{% else %}
  {% for sim in events %}
    {% if sim[0] != event %}
    <div class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <a href={{ '/event/%d' % sim[0].d_id }} text-align="left" class="media text pt-3">
              <strong class="d-block text-gray-dark">
                {{ sim[0].title }}
              </strong>
            </a>
            {% if sim[0].overview != 'None' %}
              <p>{{ ' '.join(sim[0].overview.split(' ')[:20]) + '...'}}</p>
            {% endif %}
          </div>
          <div class="col-2" text-align="right">
            <p align="right" class="media text pt-3">
              <strong class="d-block text-gray-dark">
                {% if sim[0].date.year == 2999 %}
                  {{ 'N/A' }}
                {% else %}
                  {{ sim[0].date.strftime('%A, %B %-d, %Y') }}
                {% endif %}
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <!-- {% for sim in events %}
    {% if sim[0] != event %}
      <a href="/event/{{ sim[0].d_id}}">{{ sim[0].title }}</a>
    {% endif %}
  {% endfor %} -->
{% endif %}
{% endblock %}
